.o_onlyoffice_advanced_share {
  main {
    padding: 0 !important;
  }

  .o_input_dropdown {
    width: auto;
  }

  .o_onlyoffice_users_access_list {
    max-height: 12.5rem;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .o_onlyoffice_users_access_list > * {
    border-top: 1px solid #c9ccd2;
  }

  .o_onlyoffice_users_access_list > *:last-child {
    border-bottom: 1px solid #c9ccd2;
  }
}
