.o-onlyoffice-templates-tree {
  .o-onlyoffice-tree-list {
    .o-onlyoffice-list-item {
      .o-onlyoffice-item-body {
        .o-onlyoffice-body-template {
          label {
            display: flex;
            align-items: center;
            column-gap: 6px;

            .o-onlyoffice-template-checkbox {
              margin: 0 !important;
            }

            button {
              padding: 0 !important;
              border: none !important;
            }
          }
        }
      }
    }
  }
}
